.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 160px; */
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    /* margin-bottom: 320px; */
}


.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    padding: 10px 10px 10px 5px;
    border-radius: 8px;
}

.menu-item:hover,
.profile:hover {
    background-color: #1a1a1a;
}

.menu img {
    width: 22px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 10px 10px 5px;
    /* margin-top: 10px; */
    font-size: 8px;
}

.profile img {
    border-radius: 50%;
}

.text {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    /* margin: 0px 0px 20px 20px; */

}