.sidebar {
    width: 80px;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    overflow: hidden;
}

.sidebar:hover {
    width: 250px;
}

.sidebar:hover .text {
    opacity: 1;
    margin-left: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    /* margin-bottom: 320px; */
}


.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    padding: 10px 10px 10px 5px;
    border-radius: 8px;
}

.menu-item:hover,
.profile:hover {
    background-color: #1a1a1a;
}

.menu img {
    width: 22px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 10px 10px 5px;
    /* margin-top: 10px; */
    font-size: 8px;
}

.profile img {
    border-radius: 50%;
}

.menu-item,
.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}

.text {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    opacity: 0;
    transform: translateX(-10px);
    white-space: nowrap;
    transition: all 0.3s ease;
    /* margin: 0px 0px 20px 20px; */
}